---
name: Run checks

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: python -m pip install -U flake8
      - run: python -m flake8
  pydocstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: python -m pip install -U pydocstyle
      - run: python -m pydocstyle
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python: ['3.7', '3.8', '3.9', '3.10']
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python}}
      - run: >
          python -m pip install -e .
          pytest
          pytest-asyncio
          pytest-cov
          pytest-timeout
      - run: >
          python -m pytest test
          --cov
          --cov-report xml:coverage.xml
          --timeout=2
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yamllint .
